---
 const name = Astro.url.searchParams.get('n');
---

 <form action="/" method="get" class=" p-6  items-center justify-center w-full mx-auto  max-w-screen-xl">
      <div class="mb-4">
        <label for="search" class="block text-gray-900 dark:text-gray-200 font-semibold mb-3 text-xl md:text-2xl">Search
          Recipe</label>
        <input type="text" id="search"
          class="w-full border  py-2 px-3 focus:outline-none focus:border-gray-800 dark:focus:border-gray-100 placeholder-gray-900 dark:placeholder-gray-200 dark:bg-gray-600 dark:text-gray-100  rounded-xl bg-gray-100"
          placeholder="Enter a recipe name" />
      </div>
      <div class="mx-auto text-center items-center md:pt-4 "><span
          class="text-center mx-auto items-center text-gray-900 dark:text-gray-200 font-semibold  text-xl md:text-2xl ">Or</span>
      </div>
      <div class="mb-4">
        <label for="ingredient"
          class="block text-gray-900 dark:text-gray-200 font-semibold mb-3 text-xl md:text-2xl">Search
          Ingredient</label>
        <input type="text" id="ingredient"
          class="w-full border  py-2 px-3 focus:outline-none focus:border-gray-800 dark:focus:border-gray-100 placeholder-gray-900 dark:placeholder-gray-200 dark:bg-gray-600 dark:text-gray-100  rounded-xl bg-gray-100"
          placeholder="Enter an ingredient" />
      </div>
      <div class="mb-4">
        <div class="flex space-x-2 hs-tooltip [--trigger:click]">
          <label for="dietaryRestriction"
            class="block text-gray-900 dark:text-gray-200 font-semibold mb-3 text-xl md:text-2xl">Dietary
            Restrictions </label><span
            class=" hs-tooltip-toggle text-xs mb-6 px-2  py-0.5 text-center rounded-2xl cursor-pointer bg-blue-100 text-blue-800 dark:bg-blue-800/30 dark:text-blue-500">Beta</span>
          <span
            class="  hs-tooltip-content hs-tooltip-shown:opacity-100 hs-tooltip-shown:visible opacity-0 transition-opacity inline-block absolute invisible z-10 py-1 px-2 bg-gray-900 text-xs text-center font-medium text-white rounded-md dark:bg-slate-700"
            role="tooltip">
            This is a beta feature. <br> It may not work properly all the time.
          </span>
        </div>
        <input type="text" id="dietaryRestriction"
          class="w-full border  py-2 px-3 focus:outline-none focus:border-gray-800 dark:focus:border-gray-100 placeholder-gray-900 dark:placeholder-gray-200 dark:bg-gray-600 dark:text-gray-100  rounded-xl bg-gray-100"
          placeholder="Dietary restrictions  (comma-separated)" />
      </div>
      <div class="flex items-center justify-between mb-4 ">
        <select
          class="w-36 md:w-56 border rounded-xl py-2 px-3 focus:outline-none bg-gray-100 focus:border-gray-500 dark:bg-gray-600 dark:text-gray-100 md:text-md "
          aria-labelledby="sortOption" id="sortOption">
          <option value="default">Sort by</option>
          <option value="minutesAsc">Minutes (Low to High)</option>
          <option value="minutesDesc">Minutes (High to Low)</option>
          <option value="stepsAsc">Steps (Low to High)</option>
          <option value="stepsDesc">Steps (High to Low)</option>
          <option value="ingredientsAsc">Ingredients (Low to High)</option>
          <option value="ingredientsDesc">Ingredients (High to Low)</option>
        </select>
        <button type="submit" id="searchButton" 
          class=" text-md font-medium md:text-xl py-2 px-8  border border-transparent rounded-lg bg-blue-600 text-white hover:bg-blue-700 disabled:opacity-50 disabled:pointer-events-none dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600 ">
          Search
        </button>
      </div>
      <div class="helper-text-all flex justify-between pt-5">
        <div></div>
        <div class="text-base text-gray-700 dark:text-gray-400" id="helpText"></div>
      </div>
    </form>
